<aside class="menu">
    <nav>
        <div class="nome-evento">
            <p>SLACA 2019</p>
        </div>

        <img src="./assets/logo.png" alt="logo">

        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Apresentação</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Comitês</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Autores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Eixos Temáticos</a>
            </li>
            <li class="nav-item enable">
                <a class="nav-link " href="#">Trabalhos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Contatos</a>
            </li>
        </ul>
    </nav>
</aside>

<header class="wrap">
    <div class="header-conteudo">
        <div class="header-texto">
            <p>Anais do Simpósio Latino Americano de Ciências de Alimentos</p>
            <h1>Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</h1>
            <p>ISSN: 1234-5678</p>
        </div>

        <div class="header-idioma">
            <select>
                <option value="PT, BR">PT, BR</option>
                <option value="EN, US">EN, US</option>
            </select>
        </div>

        <div class="header-login">
            <div>
                <p>Bem vindo!</p>
                <p>alguem12@galoascience.com</p>
            </div>

            <div class="avatar">
                <img src="./assets/avatar.png" alt="Mulher sorrindo">
                <span class="badge badge-danger">4</span>
            </div>

        </div>
    </div>
</header>

<main class="wrap">
    <div class="video-detalhes">
        <section class="principal">
            <div class="trabalho">
                <!-- <div class="titulo-trabalho"> -->
                <h2>Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do
                    município de Campinas/SP</h2>

                <!-- </div> -->
                <div class="botoes-trabalho">
                    <div class="icones-trabalho">
                        <a href="#">
                            <img src="./assets/download-button.png" alt="">
                        </a>
                        <a href="#">
                            <img src=" ./assets/favorite-button.png" alt="">
                        </a>
                        <a href="#">
                            <img src="./assets/doi-button.png" alt="">
                        </a>
                    </div>
                    <p>COMO CITAR ESSE TRABALHO?</p>
                </div>
            </div>

            <div class="principal-citacoes">
                <img src="./assets/video.png" alt="">

                <div class="cards card-citacoes">
                    <h3 class="card-titulo">Detalhes</h3>

                    <div class="card-body">
                        <pre>
Tipo de Apresentação: <b>Pôster</b>
Eixo temático: <b>Alimentação e saúde 
(AS)</b>
Palavras-chaves: <b>Alimentos 
funcionais, alimentação escolar.</b> 


<b>Autores:</b>
Galileo Galilei¹
Berta Lange de Morretes²
Isaac Newton³
Cesar Lattes¹
Stephen Hawking⁴


<div class="citacoes">
¹Universidade Estadual de Campinas
²Universidade de São Paulo
³Instituto Nacional de Pesquisas 
Espaciais
⁴Universidade Federal do Rio de 
Janeiro
</div>
</pre>
                    </div>
                </div>

            </div>
        </section>


        <section class="resumo">
            <div class="cards card-conteudo">
                <h3 class="card-titulo">Resumo</h3>
                <div class="card-body">
                    <p class="expandido">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae turpis
                        auctor, mollis
                        felis ut, commodo turpis. Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus.
                        Fusce auctor eros sed magna ultricies gravida. Etiam aliquam dictum nisl, vel aliquet enim
                        accumsan sit amet. Donec finibus nisi tellus, ut viverra lorem vestibulum ut. Phasellus
                        condimentum orci id leo condimentum lobortis et non lorem. Sed id nisl metus. Quisque
                        sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum Phasellus condimentum orci
                        id leo condimentum lobortis et non lorem. Sed id nisl metus. Quisque sollicitudin ligula in
                        sapien scelerisque, ac gravida eros vestibulum. Etiam aliquam dictum nisl, vel aliquet enim
                        accumsan sit ametl accumsant...</p>

                    <div *ngIf="show">

                        <p class="expandido">
                            Fusce vitae luctus dui. Donec id euismod mauris, in volutpat urna. Proin dapibus consequat
                            feugiat. Proin dictum justo arcu, quis vestibulum augue lacinia quis. Sed dignissim dui
                            nulla, ut faucibus mauris sodales id. Aliquam erat volutpat. Maecenas dolor enim, tincidunt
                            id elit non, suscipit interdum turpis. Etiam finibus urna libero, eget interdum eros
                            volutpat ullamcorper. Pellentesque et pretium lorem. Aenean interdum quis diam ac porttitor.
                            Cras nec ipsum pulvinar, pharetra libero non, ornare enim. Etiam in laoreet odio.</p>
                        <p class="expandido">
                            Nam eget tristique elit, at fermentum tellus. Mauris scelerisque ligula id eleifend feugiat.
                            Donec eleifend vehicula sem nec dapibus. Integer scelerisque neque dui, in lacinia erat
                            molestie eu. Phasellus maximus dui eget lacus porta tempor. Ut ex nibh, dignissim quis purus
                            semper, efficitur facilisis turpis. Praesent blandit elementum ultricies. Aliquam sit amet
                            enim sit amet nulla pulvinar lobortis consectetur non odio. Phasellus at lacus hendrerit,
                            vulputate nisi sit amet, viverra mauris. Etiam eu scelerisque orci. Quisque sagittis, mi
                            vitae pharetra iaculis, orci elit eleifend massa, eu posuere mauris odio id odio. Morbi eu
                            libero luctus, consectetur lorem vel, interdum sapien. Aenean in porta arcu. Maecenas eu
                            maximus massa.
                        </p>
                        <p class="expandido">
                            Praesent velit dolor, dignissim sed quam ac, efficitur porta justo. Pellentesque porta
                            pharetra felis ut hendrerit. Nulla facilisi. Aliquam erat volutpat. Nunc sit amet faucibus
                            quam. Maecenas dapibus luctus dolor at viverra. Duis nec fringilla libero. Duis risus nibh,
                            viverra ac orci nec, iaculis dictum sem. Aliquam at malesuada arcu. Aliquam erat volutpat.
                            Donec varius ipsum purus, ut vehicula purus placerat vitae. Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit.</p>
                    </div><!-- expandido -->
                    <a href="#mais-resumo" (click)="showMessage()">ver mais</a>

                </div>

            </div>
            <!-- </div> -->
        </section>
    </div>

    <section id="discussoes">
        <div class="cards card-conteudo">
            <h3 class="card-titulo">Discussões</h3>

            <div class="discussoes">
                <div class="criar-topicos" *ngIf="showCriarTopico ">
                    <p class="titulo">Compartilhe suas ideias ou dúvidas com os autores!</p>
                    <div class="icones-discussoes">
                        <img src="./assets/icone1.png" alt="">
                        <img src="./assets/icone2.png" alt="">
                        <img src="./assets/icone3.png" alt="">
                    </div>
                    <pre>Sabia que o maior estímulo no desenvolvimento científico e cultural é a curiosidade? Deixe seus
                        questionamentos ou sugestões para o autor!</pre>
                </div>

                <!-- novo tópico -->
                <div id="formulario" class="formulario" *ngIf="showFormularioTopico">
                    <form>
                        <legend>Tem uma dúvida ou sugestão? Compartilhe seu feedback com os autores!</legend>
                        <div class="assunto">
                            <label for="assunto">Assunto</label>
                            <input type="text" id="assunto" name="assunto"
                                placeholder="Defina um tópico sucinto para notificar os autores...">
                        </div>

                        <div class="conteudo">
                            <label for="conteudo">Conteúdo</label>
                            <textarea name="conteudo" id="conteudo" cols="30" rows="10"></textarea>
                        </div>
                        <div class="botao">
                            <a href="#discussoes" (click)="showMessageFormulario()">Enviar</a>
                        </div>
                    </form>
                </div>

                <!-- topico enviado -->
                <div id="enviar-topicos" class="enviar-topicos" *ngIf="showEnviarTopico">
                    <div class="feedback">
                        <p class="titulo">Seu tópico foi enviado com sucesso! :D</p>
                        <p>Agradecemos por sua contribuição, uma notificação será enviada ao seu email assim que seu
                            tópico
                            for respondido!</p>
                        <a href="#trabalhos" class="titulo">Descubra outros trabalhos!</a>
                    </div>
                    <div class="cards feedback">
                        <img src="./assets/topico.png" alt="">
                        <p>Aguardando feedback dos autores</p>
                        <p>Editar tópico</p>
                    </div>
                </div>

                <div class="btnCriarTopico" *ngIf="showCriarTopico showBtnCriarTopico">
                    <a href="#discussoes" (click)="showMessageTopico()"><img src="./assets/topico-button.png"
                            alt=""></a>
                </div>

                <div class="pergunta cards">
                    <div class="pergunta-titulo">
                        <p class="titulo">Assunto da pergunta aparece aqui</p>
                        <p>Carlos Henrique Santos</p>
                    </div>
                    <pre class="expandido">

Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de
processo formativo processo...</pre>
                    <div class="icones-pergunta">
                        <img src="./assets/mais-informacoes.png" alt="">
                        <img src="./assets/favoritar.png" alt="">
                        <p>1 Like</p>
                        <p>1 Resposta</p>
                    </div>
                </div>

                <div class="pergunta cards">
                    <div class="pergunta-titulo">
                        <p class="titulo">Assunto da pergunta aparece aqui</p>
                        <p>Carlos Henrique Santos</p>
                    </div>
                    <pre class="expandido">

Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de
processo formativo processo...</pre>
                    <div class="icones-pergunta">

                        <img src="./assets/mais-informacoes.png" alt="">
                        <img src="./assets/favoritar.png" alt="">
                        <p>4 Likes</p>
                        <p>4 Respostas</p>
                    </div>
<!-- accordion -->
<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Accordion Item #1
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          Accordion Item #2
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          Accordion Item #3
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
      </div>
    </div>
  </div>




                </div>
            </div>


        </div>
    </section>

    <div class="footer">
        <div class="img-footer">
            <img src="./assets/footer.png" alt="">
        </div>
    </div>
</main>